<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>

    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>

    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <div class="row" data-equalizer>
        <div class="large-4 columns panel radius text-center" data-equalizer-watch>
            <h4>Angular</h4>

            <p>
                AngularJS is a toolset for building the framework most suited to your application development.
            </p>
        </div>

        <div class="large-4 columns panel radius text-center" data-equalizer-watch>
            <h4>Karma</h4>

            <p>Spectacular Test Runner for JavaScript.</p>
        </div>

        <div class="large-4 columns panel radius text-center" data-equalizer-watch>
            <h4>Foundation</h4>
            <p>
                The most advanced responsive front-end framework in the world.
            </p>
        </div>
    </div>
</div>

<script>
    $(document).foundation();
</script>